<section class="register">
    <div class="header">
        <h3>Sign Up</h3>
        <p>It's quick and easy</p>
    </div>

    <div class="body">
        <form #form="ngForm" [formGroup]="registerGroup">
            <div class="user_name">
                <!-- <input type="text" placeholder="First Name" name="fname" ngModel>
                <input type="text" placeholder="Last Name" name="lname" ngModel> -->

                <mat-form-field appearance="outline">
                    <mat-label type="text" name="fname">Enter your First Name</mat-label>
                    <input matInput required formControlName="firstNameControl">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label type="text" name="lname">Enter your Last Name</mat-label>
                    <input matInput required formControlName="lastNameControl">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="email_password">
                <!-- <input type="text" placeholder="Email" name="email" ngModel>
                <input type="text" placeholder="Image Url" name="avatar" ngModel>
                <input type="password" placeholder="Password" name="password" ngModel> -->
                <mat-form-field appearance="outline">
                    <mat-label type="email" name="email">Enter your Email</mat-label>
                    <input #mail matInput placeholder="dimi@example.com" required formControlName="emailControl">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label type="text" name="password">Enter your password
                    </mat-label>
                    <input matInput type="password" required formControlName="passControl">
                    <mat-error *ngIf="registerGroup.hasError('required', 'passControl')">
                        Please enter your newpassword
                    </mat-error>

                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label type="text" name="confirmPassword">Confirm your password</mat-label>
                    <input #password type="password" matInput required formControlName="confirmPassControl"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="registerGroup.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>

            <p>Agree to our Terms.</p>

            <button type="submit" class="submit-button" [disabled]="registerGroup.invalid"
                [mat-dialog-close]="form.value" (click)="onSignup(mail.value,password.value)">Sign Up</button>
        </form>
    </div>
</section>