@import "../../../styles.scss";

.background{
  background-color: #F5F5F5;
}

nav{
  z-index: 1000;
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  margin: 0;
  align-items: center;
  background-color: $dark-green;
  justify-content: center;
  transition: 1s ease;
}

.nav_change{
  height: 60px;
  opacity: 0.3;
  background-color: white;
  transition: ease 1s;
}

.nav_change:hover{
  opacity: 1;
}

.nav_change ul li button:hover{
  background-color: black;
  transition: .4s ease-in;
  cursor: pointer;

  mat-icon{
    color:#F2F2F2;
    transition: .15s ease-in;
  }
}

nav .logo{
  padding-left: 10px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

nav .logo img{
  height: 50px;
}

nav ul{
  display: flex;
  align-self: center;
  align-items: center;
  //justify-content: space-between;
  column-gap: 15px;
  //padding-right: 100px;
  padding-right: 50px;
}

nav ul li{
  list-style: none;
}

nav ul li button{
  //list-style: 80px;text
  //height: 70px;
  //width: 100%;
  //align-self: center;
  box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  //justify-content: space-evenly;
  border-radius: 15px;

}

// .nav_change ul li button:hover{
//   background-color: #F2F2F2;
//   transition: .4s ease-in;
//   cursor: pointer;

//   mat-icon{
//     //color:#1877F2;
//     transition: .15s ease-in;
//   }
// }

nav ul li button:hover{
  background-color: #F2F2F2;
  transition: .4s ease-in;
  cursor: pointer;

  mat-icon{
    color:black;
    transition: .15s ease;
  }
}

nav ul li button mat-icon{
  color: #65676B;
  align-self: center;
  padding:5px;
  font-size: 25px;
}

.nav_change ul li .active{
  background-color: #000;
  transition: ease 1s;

  mat-icon{
    //color: #1877F2;
    transition: ease 1s;
  }
}

nav ul li .active{

  background-color: #fff;
  transition: ease 1s;

  mat-icon{
    //color: #1877F2;
    transition: ease 1s;
  }
}