<div class="cancel-button">
    <button mat-mini-fab color="warn" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<br>

<div>
    <h1 mat-dialog-title class="dialog-title">Add a new hike to your list!</h1>
</div>

<div mat-dialog-content class="form-container">

    <form [formGroup]="hikeForm" class="form">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name must be at least 4 characters long" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Start Point</mat-label>
            <input matInput placeholder="At least 4 characters" formControlName="start">
        </mat-form-field>

        <mat-form-field>
            <mat-label>End Point</mat-label>
            <input matInput placeholder="At least 4 characters" formControlName="end">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Trail Length</mat-label>
            <input matInput type="number" placeholder="Must be a non negative number" formControlName="length">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Elevation Gain</mat-label>
            <input matInput type="number" placeholder="Must be a non negative number < 13000"
                formControlName="elevation">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="date" placeholder="Date" formControlName="date">
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions class="submit-button-div">

    <button mat-button class="submit-button" [mat-dialog-close]="hikeForm" [disabled]="hikeForm.invalid"
        cdkFocusInitial>Ok</button>
</div>