// :host {
//     display: grid;
//     place-items: center;
//     height: 100vh;
//     width: 100vw;
//     background-color: rgb(228, 242, 249);
//   }

.arrow-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
  }