/* You can add global styles to this file, and also import other style files */

//@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-button-color: #1877f2;
$success-button-color:#42872a;

$header-color:white;
$bodycolor: #f0f2f5;


// @media (max-width: 500px) {
//     body{
//         background-color:$bodycolor;
//     }
// }
