<section class="main-page-container">
    <div class="wrapper">
        <h1 class="typing"></h1>
    </div>
</section>
<section class="body-text">
<h2 class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Pellentesque aliquet feugiat lectus id suscipit. 
    Pellentesque pretium lectus dui, congue hendrerit tellus tincidunt eu. 
    Ut ac urna efficitur, fermentum odio eu, sagittis purus. 
    Praesent est velit, cursus ut blandit eu, sagittis a tellus. 
    Aliquam volutpat fringilla pellentesque. 
    Curabitur dapibus porta tincidunt. 
    Morbi feugiat nisl sed fringilla sollicitudin.
</h2>
</section>


<!-- <div class="home__body__contentMiddle">

    <div class="home__body__contentMiddle__top">
      <mat-card *ngFor="let i of images" class="image-card">
        <img alt="bg" class="bg" src="{{ i }}">
        <mat-card-content>
          <span class="card-name">Dinu Alin</span>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="home__body__contentMiddle__center">

      <mat-card *ngFor="let p of posts" class="posts">
        <mat-card-header class="posts__header">
          <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">
          <div class="posts__header__right">
            <span>{{ p?.time?.seconds * 1000 | date:'shortTime' }}</span>
            <h3>{{ p?.title }}</h3>
          </div>
        </mat-card-header>
        
        <mat-card-content class="posts__body">
          <p>{{ p?.message }}</p>
        </mat-card-content>
      </mat-card>

    </div>  
</div> -->
