<div class="main-page-container">
  <section class="header">
    <div class="wrapper">
      <h1 class="typing"></h1>
    </div>
  </section>
  <section class="body-text">
    <h2 class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque aliquet feugiat lectus id suscipit.
      Pellentesque pretium lectus dui, congue hendrerit tellus tincidunt eu.
      Ut ac urna efficitur, fermentum odio eu, sagittis purus.
      Praesent est velit, cursus ut blandit eu, sagittis a tellus.
      Aliquam volutpat fringilla pellentesque.
      Curabitur dapibus porta tincidunt.
      Morbi feugiat nisl sed fringilla sollicitudin.
    </h2>
  </section>

  <section class="cards-container">
    <div class="container" *ngFor="let i of images; let number = index" [attr.data-index]="number">
      <div [ngClass]="!toggleProperty[number] ? 'flipped' : ''" class="card">
        <div class="front" style="
          background-image:linear-gradient(-225deg, #7de3fc1a 0%, #b9b6e51e 60%), url({{i}});">
          <div class="arrow-icon" (click)="toggle(number)">
            <mat-icon>visibility</mat-icon>
          </div>
        </div>
        <div class="back">
          <div class="rating">
            <ngb-rating [(rate)]="currentRate[number]" [max]="5">
              <ng-template let-fill="fill" let-index="star_index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="0 < 3" (click)="setData()">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <p name="fieldName" ngDefaultControl class="my-rate" [(ngModel)]="messageRating">{{messageRating}}
              {{currentRate[number]}}</p>
          </div>
          <div class="top">
            <div class="title">
              {{ places.get(i)}}
            </div>
            <div class="card-body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet feugiat lectus id suscipit.
              Pellentesque pretium lectus dui, congue hendrerit tellus tincidunt eu.
            </div>
          </div>
          <div class="arrow-icon" (click)="toggle(number)">
            <mat-icon>visibility_off</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>